# -*- mode: yaml; -*-

############## Sending traffic to PlantUML, the internal Promethei, and more
#
# This is a so-called “dynamic” configuration, i.e. if we change it,
# Træfik will re-read it.

http:
  routers:
    plantuml:
      rule: "Host(`gitlab.epfl.ch`) && PathPrefix(`/plantuml`)"
      entrypoints:
        - websecure
        - websecure_staging
      tls:
        certresolver: letsencrypt
      service: plantuml
      middlewares:
        - plantuml-rewrite-host-header
        - plantuml-rewrite-path
        - sorryserver
    prometheus-in-gitlabprod:
      rule: "Host(`gitlab.epfl.ch`) && PathPrefix(`/federate`)"
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt
      service: prometheus-in-gitlabprod
      middlewares:
        - prometheus-basic-auth
    prometheus-of-traefik:
      rule: "Host(`gitlab.epfl.ch`) && PathPrefix(`/metrics`)"
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt
      service: prometheus@internal

  services:
    plantuml:
      loadBalancer:
        servers:
          - url: "http://plantuml:8080/"
    prometheus-in-gitlabprod:
      loadBalancer:
        servers:
          - url: "http://{{ gitlab_docker_prod_hostname }}:9090/"
    sorryserver:
      loadBalancer:
        servers:
          - url: "http://sorryserver:8043/"

  middlewares:
    plantuml-rewrite-host-header:
      headers:
        customRequestHeaders:
          Host: "plantuml"
    plantuml-rewrite-path:
      replacePathRegex:
        regex: "^/plantuml/(.*)"
        replacement: "/$1"
    prometheus-basic-auth:
      basicAuth:
        users:
          - '{{ traefik_idev_fsd_noc_htpasswd_line }}'
    sorryserver:
      errors:
        status:
          - "502"
        service: sorryserver
        query: "/502.html"
